<h1>CAROUSEL</h1>
<h2>Watch out, these companies are hiring now</h2>
<p>
	<% @jobs.each do |job| %>
	<div class="job">
	  <%= job.company %> is hiring a <%= link_to job.title, job.url %> for <%= job.location %>
	</div>
	<% end %>
</p>
