body {
  background: #a71b3e;
  color: white;
  font: 14px/1.5 Helvetica, Arial, sans-serif;
  margin: auto;
  width: auto;
}
a {
  color: #efaaca;
  text-decoration: none;
}
navbar p {
color: white;
}
