<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-6 col-md-2">JOBS </br>
        <i class='fa fa-laptop'></i> <%= link_to "Post a Job", new_job_path %></br>
        <i class='fa fa-bullhorn'></i> Features</br>
        <i class='fa fa-life-ring'></i> Support</br>
        <i class='fa fa-envelope'></i> Email hello<i class='fa fa-at'></i>jobs.dev</br>
        <i class='fa fa-phone'></i> Call +1.909.727.8299</br>
        <i class='fa fa-rss'></i> RSS
      </div>
      <div class="col-xs-6 col-md-2">DIRECTORY</br>
        <i class='fa fa-archive'></i> Jobs</br>
        <i class='fa fa-building'></i> Companies</br>
        <i class='fa fa-trophy'></i> Perks</br>
        <i class='fa fa-map-marker'></i> Location</br>
        <i class='fa fa-star'></i> Candidates</br>
        <i class='fa fa-keyboard-o'></i> Skills
      </div>
      <div class="col-xs-6 col-md-2"><i class='fa fa-heart'></i> COMMUNITY</br>
        <i class='fa fa-paper-plane'></i> Newsletter</br>
        <i class='fa fa-users'></i> Group</br>
        <i class='fa fa-rocket'></i> Start Ups</br>
        <i class='fa fa-terminal'></i> Developers</br>
        <i class='fa fa-pencil'></i> Designers</br>
        <i class='fa fa-desktop'></i> Freelancers</br>
        <i class='fa fa-graduation-cap'></i> Bootcampers
      </div>
      <div class="col-xs-6 col-md-2">COMPANY</br>
        <i class='fa fa-bullseye'></i> Advertise</br>
        <i class='fa fa-globe'></i> About</br>
        <i class='fa fa-flask'></i> Labs</br>
        <i class='fa fa-shopping-cart'></i> Store</br>
        <i class='fa fa-dollar'></i> Bundle</br>
        <i class='fa fa-language'></i> FAQs</br>
        <i class='fa fa-envelope-o'></i> Contact
      </div>
      <div class="col-xs-6 col-md-2"><i class='fa fa-plug'></i> CONNECT</br>
        <i class='fa fa-tumblr'></i> Blog</br>
        <i class='fa fa-twitter'></i> Twitter</br>
        <i class='fa fa-facebook'></i> Facebook</br>
        <i class='fa fa-linkedin'></i> LinkedIn</br>
        <i class='fa fa-instagram'></i> Instagram</br>
        <i class='fa fa-user'></i> Ello</br>
        <i class='fa fa-google-plus'></i> Google+
      </div>
      <div class="col-xs-6 col-md-2"><i class='fa fa-legal'></i> LEGAL</br>
        <i class='fa fa-shield'></i> Terms</br>
        <i class='fa fa-eye-slash'></i> Privacy</br>
        <i class='fa fa-money'></i> Refund
      </div>
    </div>
    2014 <i class='fa fa-copyright'></i> Jobs. All Rights Reserved.<div class="pull-right">powered by <i class='fa fa-cc-stripe fa-2x'></i></div>
  </div>
</footer>
