<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "JOBS <i class='fa fa-laptop'></i> DEV".html_safe, root_path, class: "navbar-brand" %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><%= link_to "sponsored by New Relic", "#"%></li>

      </ul>
      <form class="navbar-form navbar-left" role="search">
        <div class="form-group" style="display:inline;">
          <div class="input-group">
          <input type="text" class="form-control" placeholder="Search">
          <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
        </div>
        </div>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Post a Job <i class='fa fa-dollar'></i>350 for 30 Days".html_safe, new_job_path, class: "post" %></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
